:root {
  background-color: rgb(24, 28, 41);
  color: blanchedalmond;
}
.keskus {
  display: flex;
  justify-content: center;
}
form {
  margin: 15px;
  height: 15px;
}
form input {
  margin-left: 12px;
}

h1 {
  padding: 10px;
  text-align: center;
  color: rgb(17, 255, 255);
  border-radius: 3px;
  border-color: aquamarine;
  border-style: dashed;
}
button {
  color: antiquewhite;
  background-color: rgb(4, 49, 49);
}